packer_compiled.lua
lazy-lock.json
plugins/*
.config/tmux/plugins
.env
.env.local
**/mise/conf.d/env.toml
node_modules/

# AI files
.config/opencode/package.json
.config/opencode/*lock*
.config/.claude/*
.config/.gemini/*
.config/.pi/*
!.config/.claude/settings.json
!.config/.gemini/antigravity-cli/settings.json
!.config/.pi/agent/settings.json
!.config/.pi/agent/auth.json
