[core]
  editor = code --wait
  autocrlf = false
[filter "lfs"]
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
[user]
  name = 
  email = 
[init]
  defaultBranch = master
[safe]
  directory = 
  directory = 
[credential]
  helper = manager
[credential "helperselector"]
	selected = manager
